body {
    text-align: center;
     background-color: black;
     font-family:'Courier New', Courier, monospace;

}

h1 {
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
}

#intro{
    background-color: rgb(171, 213, 231);
}

#origami1{
   background-color:rgb(127, 190, 212);
}

#origami2{
  background-color:rgb(119, 166, 189); 
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}